body{
	font-family: '微软雅黑';
	background-color: #E0E0E0;
	margin: 0 auto;
}
#wrap{
	width: 1000px;
	height:auto !important;
	min-height:1000; 
	margin: 0 auto;
}
#header{
	margin: 0 auto;
	width: 1000px;
	height: 100px;
}
#blogName{
	cursor: pointer;
	font-size: 40px;
	line-height: 100px;
	float: left;
}
#blogNameLine{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
	width: 1px;
	height: 50px;
	border-left:1px solid #999999;
	float: left;
}
#slogan{
	font-size: 15px;
	width: 200px;
	position: absolute;
	margin-left: 210px;
	margin-top:50px;
}


#content{
	word-wrap:break-word;
	margin: 0 auto;
	width: 1000px;
	height:auto !important;
	min-height:1000px; 
}

#ensure{
	cursor: pointer;
	margin-top: 10px;
	background-color: rgb(61,64,69);
	width: 100px;
	height: 30px;
	text-align: center;
	border-radius: 5px;
	color: white;
	line-height: 30px;
}

#footer{
	clear: both;
	width: 1000px;
	height: 150px;
}
#editor_id{
	width: 1000px;
	height: 600px;
}

#title{
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	font-size: 25px;
	width: 1000px;
	height: 40px;
}