body{
	font-family: '微软雅黑';
	background-color: #E0E0E0;
	margin: 0 auto;
}

#wrap{
	width: 1000px;
	height:auto !important;
	min-height:1000; 
	background-color: #E0E0E0;
	margin: 0 auto;
}

#header{
	margin: 0 auto;
	width: 1000px;
	height: 100px;
}
#blogName{
	cursor: pointer;
	font-size: 40px;
	line-height: 100px;
	float: left;
}
#blogNameLine{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
	width: 1px;
	height: 50px;
	border-left:1px solid #999999;
	float: left;
}
#slogan{
	float: left;
	margin-top:50px;
}
#searchBox{
	margin-left: 360px;
	margin-top: 40px;
	float: left;
}
#searchBox input{
	padding: -10px;
	width: 250px;
	height: 30px;
	float: left;
	font-size: 18px;
}
#search-icon{
	border-radius: 100px;
	position: absolute;
	margin-top: -10px;
	margin-left: -40px;
	width: 50px;
	height: 50px;
	background-color: red;
	background: url(../images/search-icon.jpg);
	float: left;
}
#sSubmit{
	color: white;
	cursor: pointer;
	text-align: center;
	float: left;
	width: 60px;
	height: 36px;
	line-height: 36px;
	background-color: #566BE4;
}
#header_nav{
	width: 80%;
	opacity: 0.3;
}
#nav{
	margin: 0 auto;
	width: 1000px;
	height: 50px;
}
.nav_element{
	font-size: 20px;
	line-height: 50px;
	float: left;
	cursor: pointer;
	margin-left: 20px;
}
#content{
	margin: 0 auto;
	width: 1000px;
	height: auto;
	min-height: 660px;
}
.album_element{
	cursor: pointer;
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 20px;
	float: left;
	text-align: center;
	width: 230px;
	height: 220px;
	background-color: white;
	box-shadow: 5px 5px 5px #A5A5A5;
}
.album_element img{
	margin-top: 10px;
	width: 200px;
	height: 170px;
}
.album_name{
	margin-top: 5px;
}
#page{
	margin: 0 auto;
	padding-left:70px; 
	width: 1000px;
}
#page_first,#page_pre,#page_next,#page_last{
	cursor: pointer;
	border-radius: 3px;
	float: left;
	width: 60px;
	height: 40px;
	background-color: white;
	margin-left: 10px;
	box-shadow: 5px 5px 5px #A5A5A5;
	text-align: center;
	line-height: 40px;
}
.page_element{
	cursor: pointer;
	border-radius: 3px;
	line-height: 40px;
	text-align: center;
	float: left;
	width: 50px;
	height: 40px;
	margin-left: 10px;
	background-color: white;
	box-shadow: 5px 5px 5px #A5A5A5;
}
