body {
	font-family: '微软雅黑';
	background-color: #E0E0E0;
	margin: 0 auto;
}
#isShowWelcome {
	z-index: 99;
	margin-top: -120px;
	position: fixed;
	right: 0;
	width: 300px;
	height: 120px;
	background-color: rgb(200, 200, 200);
	border-radius: 10px;
}
#isShowWelcomeHint {
	font-size: 15px;
	padding-top: 5px;
	padding-left: 5px;
}
#isShowWelcomeHint span {
	color: red;
}
#isShowWelcomeSure {
	cursor: pointer;
	position: absolute;
	margin-top: 18px;
	margin-left: 20px;
}
#isShowWelcomeBack {
	cursor: pointer;
	position: absolute;
	margin-left: 230px;
	margin-top: 18px;
}
#welcomeBox {
	text-align: center;
	width: 484px;
	height: 50px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -242px;
	margin-top: -25px;
	font-family: 'Apple LiGothic Medium';
	font-size: 50px;
	text-shadow: 0px 0px 30px black;
}
#welcome {
	display: none;
	float: left;
}
#tomyworld {
	display: none;
	float: left;
}
#wrap {
	display: none;
	width: 1000px;
	height: auto !important;
	min-height: 1000;
	background-color: #E0E0E0;
	margin: 0 auto;
}
#header {
	color: #E0E0E0;
	margin: 0 auto;
	width: 1000px;
	height: 100px;
}
#blogName {
	cursor: pointer;
	font-size: 40px;
	line-height: 100px;
	float: left;
}
#blogNameLine {
	display: none;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
	width: 1px;
	height: 50px;
	border-left: 1px solid #999999;
	float: left;
}
#slogan {
	color: #E0E0E0;
	font-size: 15px;
	width: 200px;
	height: 50px;
	/* left: 50%;
	*/
	/* height: 0%;
	*/
	position: absolute;
	margin-left: 210px;
	margin-top: 50px;
}
#searchBox {
	display: none;
	/* margin-left: 360px;
	*/
	margin-left: 520px;
	margin-top: 40px;
	float: left;
}
#searchBox input {
	padding: -10px;
	width: 250px;
	height: 30px;
	float: left;
	font-size: 18px;
}
#search-icon {
	border-radius: 100px;
	position: absolute;
	margin-top: -10px;
	margin-left: -40px;
	width: 50px;
	height: 50px;
	background-color: red;
	background: url(../images/search-icon.jpg);
	float: left;
}
#sSubmit {
	color: white;
	cursor: pointer;
	text-align: center;
	float: left;
	width: 60px;
	height: 36px;
	line-height: 36px;
	background-color: #566BE4;
}
#header_nav {
	width: 90%;
	opacity: 0.3;
}
#nav {
	/* margin: 0 auto;
	*/
	width: 670px;
	height: 50px;
}
.nav_element {
	font-size: 20px;
	line-height: 50px;
	float: left;
	cursor: pointer;
	margin-left: 20px;
}
#content {
	margin: 0 auto;
	width: 1000px;
	height: auto !important;
	min-height: 1000px;
}
#content_left {
	float: left;
	height: auto !important;
	min-height: 1000px;
	width: 700px;
}
#content_right {
	float: left;
	height: auto !important;
	min-height: 1000px;
	width: 300px;
}
.article {
	border-radius: 5px;
	margin-top: 10px;
	width: 670px;
	height: auto;
	min-height: 100px;
	background-color: white;
	box-shadow: 5px 5px 5px #A5A5A5;
}
.article_title {
	cursor: pointer;
	padding-top: 10px;
	margin: 10px auto;
	font-size: 25px;
	width: 95%;
}
.article_title:hover{
	color: #03A9F4;
}
.article_time {
	margin: 0 auto;
	color: #BCBCBC;
	font-size: 15px;
	width: 93%;
}
.article_photo {
	width: 95%;
	margin: 10px auto;
}
.article_photo img {
	width: 100%;
	height: 300px;
}
.article_content {
	margin: 0 auto;
	width: 95%;
	font-size: 15px;
	line-height: 28px;
}
.article_content img {
	max-width: 95%;
	/* height: 100px;
	*/
}
.article_operation {
	height: 50px;
}
.article_comment_img {
	cursor: pointer;
	float: left;
	margin-left: 10px;
	width: 20px;
	height: 20px;
	margin-top: 20px;
}
.article_comment_img img {
	width: 100%;
	height: 100%;
}
.article_comment {
	cursor: pointer;
	float: left;
	opacity: 0.8;
	margin-left: 5px;
	font-size: 12px;
	margin-top: 20px;
}
.article_comment:hover{
	color: #03A9F4;
}
.article_readCount{
	cursor: pointer;
	float: left;
	opacity: 0.8;
	font-size: 12px;
	margin-left: 5px;
	margin-top: 20px;
}
.article_readmore {
	opacity: 0.8;
	margin-right: 20px;
	float: right;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	line-height: 30px;
	margin-top: 10px;
	width: 100px;
	height: 30px;
	background-color: #03A9F4;
}
.small_article_time{
	float: left;
	margin-left: 20px;
	color: rgb(180,180,180);
}
.small_article_comment{
	color: rgb(180,180,180);
	margin-left: 20px;
	float: left;
}
.small_article_readCount{
	color: rgb(180,180,180);
	float: left;
	margin-left: 20px;
}

#page {
	clear: both;
	margin-top: 30px;
}
#page_pre {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	border-radius: 3px;
	float: left;
	width: 60px;
	height: 40px;
	background-color: white;
	box-shadow: 5px 5px 5px #A5A5A5;
	text-align: center;
	line-height: 40px;
}
#page_next, #page_last {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	border-radius: 3px;
	float: left;
	width: 60px;
	height: 40px;
	background-color: white;
	margin-left: 10px;
	box-shadow: 5px 5px 5px #A5A5A5;
	text-align: center;
	line-height: 40px;
}
.page_element {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	border-radius: 3px;
	line-height: 40px;
	text-align: center;
	float: left;
	width: 50px;
	height: 40px;
	margin-left: 10px;
	background-color: white;
	box-shadow: 5px 5px 5px #A5A5A5;
}
#classify {
	margin-top: 10px;
	float: left;
	width: 300px;
	height: 230px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 5px 5px 5px #A5A5A5;
}

/* 加入渐进效果后弃掉 */
/* #photo {
	margin-top: 20px;
	float: left;
	width: 300px;
	height: 200px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 5px 5px 5px #A5A5A5;
	text-align: center;
}
#photo img {
	cursor: pointer;
	opacity: 0.8;
	padding-top: 10px;
	width: 280px;
	height: 180px;
}
*/

#photohint {
	cursor: pointer;
	z-index: 99;
	background: rgba(0, 0, 0, 0.4);
	display: none;
	position: absolute;
	left: 100px;
	border-style: solid;
	border-width: 1px;
	width: 100px;
	border-radius: 5px;
}
#photo {
	/* margin-top: 20px;
	float: left;
	width: 300px;
	height: 200px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 5px 5px 5px #A5A5A5;
	text-align: center;
	*/
	float: left;
	text-align: center;
	margin-top: 20px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 5px 5px 5px #A5A5A5;
	height: 200px;
	width: 300px;
	overflow: hidden;
	position: relative;
}
#photo img {
	cursor: pointer;
	opacity: 0.8;
	padding-top: 10px;
	height: 180px;
	width: 280px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	z-index: 1;
	transition-delay: 0s;
	transition-duration: 1s;
	transition-property: all;
	transition-timing-function: ease; /* Firefox 4 */
	-moz-transition-delay: 0s;
	-moz-transition-duration: 1s;
	-moz-transition-property: all;
	-moz-transition-timing-function: ease; /* Safari 和 Chrome */
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 1s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease; /* Opera */
	-o-transition-delay: 0s;
	-o-transition-duration: 1s;
	-o-transition-property: all;
	-o-transition-timing-function: ease;
}
#photo:hover img {
	transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2); /* IE 9 */
	-moz-transform: scale(1.2, 1.2); /* Firefox */
	-webkit-transform: scale(1.2, 1.2); /* Safari 和 Chrome */
	-o-transform: scale(1.2, 1.2); /* Opera */
}
#recommendexhibit {
	margin-top: 20px;
	float: left;
	width: 300px;
	height: 280px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 5px 5px 5px #A5A5A5;
}
.bar_head {
	font-size: 20px;
	padding: 5px;
	float: left;
}
.bar_more {
	font-size: 20px;
	padding: 5px;
	float: right;
}
.bar_line {
	margin: 0 auto;
	opacity: 0.6;
	width: 98%;
	clear: both;
	border-top: 1px solid #999999;
}
#footer {
	clear: both;
	width: 1000px;
	height: 150px;
}
#only {
	cursor: pointer;
	float: right;
	margin-top: 20px;
	text-decoration: underline;
}
#dataCount {
	float: right;
	margin-right: 40px;
	margin-top: 20px;
	color: rgb(102, 102, 102);
}
#dataCount_title {
	float: left;
}
#dataCount_data {
	float: left;
}
.classify_ele {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	background-color: rgb(3, 169, 220);
	text-align: center;
	float: left;
	line-height: 60px;
	width: 80px;
	height: 60px;
	margin-left: 14px;
	margin-top: 12px;
}
.classify_ele:hover{
	background-color: rgb(0,167,35);
}
#toTop{
	display: none;
	cursor: pointer;
	position: fixed;
	bottom: 10%;
	right: 10%;
}

#friendUrl{
	border-radius: 5px;
	margin-top: 20px;
	float: left;
	width: 300px;
	min-height: 100px;
	background-color: white;
	box-shadow: 5px 5px 5px #A5A5A5;

}
#friendUrl_title{
	font-size: 18px;
	border-bottom: 1px solid rgb(180,180,180);
	padding-top:5px;
	color: rgb(240,240,240);
	padding-left: 5px;
	background-color: rgb(3,169,220);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-bottom: 5px;
}
.friendUrl_ele:hover{
	color: rgb(3,169,220);
}
.friendUrl_ele{
	border-bottom: 1px solid rgb(230,230,230);
	cursor: pointer;
	padding-left: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
}
.timeHistory_ele:hover{
	color: rgb(3,169,220);
}
.timeHistory_ele{
	cursor: pointer;
	padding-left: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid rgb(230,230,230)
}
#timeHistory{
	border-radius: 5px;
	margin-top: 20px;
	float: left;
	width: 300px;
	min-height: 180px;
	background-color: white;
	box-shadow: 5px 5px 5px #A5A5A5;
}
#timeHistory_title{
	font-size: 18px;
	border-bottom: 1px solid rgb(180,180,180);
	padding-top:5px;
	color: rgb(240,240,240);
	padding-left: 5px;
	background-color: rgb(3,169,220);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-bottom: 5px;
}
@media only screen and (max-width: 1000px){
	#friendUrl,#header,#isShowWelcome,#header_nav,#classify,#photo,#content_right,#footer,#dataCount,#only,#page{
		display: none;
	}
	body{
		background-color: white;
	}
	#nav{
		width: 100%;
		background-color: white;
		border-bottom: 1px solid black;
		position: fixed;
	}
	#wrap{
		width: 100%;
	}
	.nav_element{
		font-size: 18px;
		margin-left: 5px;
	}
	#content{
		width: 100%;
		min-height: 0px;
	}
	#content_left{
		min-height: 0px;
		width: 100%;
	}
	.article_title{
		font-size: 16px;
	}
	.article{
		cursor: pointer;
		min-height: 50px;
		width: 100%;
		border-radius: 0;
		margin-top: -10px;
		box-shadow: none;
		border-bottom: 1px solid rgb(180,180,180);
	}
	.small_article_time,.small_article_comment,.small_article_readCount{
		display: none;
	}
}