body{
	margin: 0 auto;
}
.add{
	padding-right: 3px;
	padding-left: 3px;
	border-radius: 3px;
	background-color: rgb(248, 41, 27);
}
.sub{
	padding-right: 3px;
	padding-left: 3px;
	border-radius: 3px;
	background-color: rgb(169, 237, 135);
}

#operationBox{
	margin-top: 10px;
	float: left;
	width: 100%;
	height: 500px;
}

#moveBox{
	width: 100%;
	height: 505px;
	overflow: hidden;
	position: relative;
}

#mainBox{
	position: absolute;
}

#one{
	border-top: 1px solid black;
	/*border-bottom: 1px solid black;*/
	float: left;
	height: 600px;
}
#output{
	overflow-y: auto;
	overflow-x: auto;
	margin: 0 auto;
	padding-left: 3px;
}
#outputHistory{

	padding-left: 3px;
}
#two{
	float: left;
	overflow-y: auto;
	overflow-x: auto;
	height: 500px;
	border: 1px solid rgb(180, 180, 180);
}

#three{
	overflow-y: auto;
	overflow-x: auto;
	float: left;
	border: 1px solid rgb(180, 180, 180);
	height: 500px;

}

#op {
	float: left;
	width: 45%;
}


#sub {
	float: left;
	margin-top: 20px;
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background-color: rgb(241, 241, 241);
	border-radius: 5px;
	margin-bottom: 20px;
	box-shadow: 0 0 30px 10px rgb(180, 180, 180);
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

#sub:hover{
	background-color: rgb(100, 100, 100);
	color: rgb(200, 200, 200);
}
#titleBox{
	text-align: center;
	width: 100%;
	height: 35px;
}
#title{
	padding-left: 4px;
	margin-top: 5px;
	height: 30px;
	width: 95%;
	font-size: 20px;
	line-height: 25px;
}

#all{
	z-index: 99;
	position: fixed;
	width: 100%;
	height:100%;
	background-color: black;
	opacity: 0.3;
	margin: 0;	
}