body{
	font-family: '微软雅黑';
	background-color: #E0E0E0;
	margin: 0 auto;
}

#wrap{
	width: 1000px;
	height:auto !important;
	min-height:1000; 
	background-color: #E0E0E0;
	margin: 0 auto;
}

#header{
	margin: 0 auto;
	width: 1000px;
	height: 100px;
}
#blogName{
	cursor: pointer;
	font-size: 40px;
	line-height: 100px;
	float: left;
}
#blogNameLine{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
	width: 1px;
	height: 50px;
	border-left:1px solid #999999;
	float: left;
}
#slogan{
	float: left;
	margin-top:50px;
}
#searchBox{
	margin-left: 360px;
	margin-top: 40px;
	float: left;
}
#searchBox input{
	padding: -10px;
	width: 250px;
	height: 30px;
	float: left;
	font-size: 18px;
}
#search-icon{
	border-radius: 100px;
	position: absolute;
	margin-top: -10px;
	margin-left: -40px;
	width: 50px;
	height: 50px;
	background-color: red;
	background: url(../images/search-icon.jpg);
	float: left;
}
#sSubmit{
	color: white;
	cursor: pointer;
	text-align: center;
	float: left;
	width: 60px;
	height: 36px;
	line-height: 36px;
	background-color: #566BE4;
}
#header_nav{
	width: 80%;
	opacity: 0.3;
}
#nav{
	margin: 0 auto;
	width: 1000px;
	height: 50px;
}
.nav_element{
	font-size: 20px;
	line-height: 50px;
	float: left;
	cursor: pointer;
	margin-left: 20px;
}
#content{
	margin: 30px auto;
	width: 1000px;
	height:auto !important;
	min-height:1000px; 
	/*background-color: white;*/
}
.message_1{
	float: left;
	word-wrap:break-word;
	width: 200px;
	height: 200px;
	background-color: rgb(119,81,164);
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	box-shadow:10px 10px 10px rgb(180,180,180);
}
.m1_color{
	background-color: rgb(119,81,164);
}
.m1_content,.m2_content,.m3_content,.m4_content,.m5_content,.m6_content,.m7_content,.m8_content,.m9_content,.m10_content{
	font-size: 16px;
	margin: 0 auto;
	width: 180px;
	height: 180px;
	margin-top: 10px;
}
.m11_content,.m12_content,.m13_content,.m14_content,.m15_content{
	margin: 0 auto;
	width: 180px;
	height: 180px;
	margin-top: 10px;
}
.message_2{
	word-wrap:break-word;
	float: left;
	width: 200px;
	height: 200px;
	background-color: rgb(62,140,180);
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	box-shadow:10px 10px 10px rgb(180,180,180);
}
.m2_color{
	background-color: rgb(62,140,180);
}
.message_3{
	float: left;
	width: 200px;
	height: 200px;
	background-color: rgb(208,222,67);
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	box-shadow:10px 10px 10px rgb(180,180,180);
}
.m3_color{
	background-color: rgb(208,222,67);
}
.message_4{
	float: left;
	width: 200px;
	height: 200px;
	background-color: rgb(220,162,17);
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	box-shadow:10px 10px 10px rgb(180,180,180);
}
.m4_color{
	background-color: rgb(220,162,17);
}
.message_5{
	float: left;
	width: 200px;
	height: 200px;
	background-color: rgb(158,210,72);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	box-shadow:10px 10px 10px rgb(180,180,180);
}
.m5_color{
	background-color: rgb(158,210,72);
}
.message_6{
	float: left;
	width: 200px;
	height: 200px;
	background-color: rgb(209,66,147);
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	box-shadow:10px 10px 10px rgb(180,180,180);
}
.m6_color{
	background-color: rgb(209,66,147);
}
.message_7{
	float: left;
	width: 200px;
	height: 200px;
	background-color: rgb(207,143,170);
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	box-shadow:10px 10px 10px rgb(180,180,180);
}
.m7_color{
	background-color: rgb(207,143,170);
}
.message_8{
	float: left;
	width: 200px;
	height: 200px;
	background-color: rgb(152,187,198);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	box-shadow:10px 10px 10px rgb(180,180,180);
}
.m8_color{
	background-color: rgb(152,187,198);
}
.message_9{
	float: left;
	width: 200px;
	height: 200px;
	background-color: rgb(66,141,181);
	-webkit-transform: rotate(13deg);
	-moz-transform: rotate(13deg);
	-o-transform: rotate(13deg);
	box-shadow:10px 10px 10px rgb(180,180,180);
}
.m9_color{
	background-color: rgb(66,141,181);
}
.message_10{
	float: left;
	width: 200px;
	height: 200px;
	background-color: rgb(108,74,155);
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	box-shadow:10px 10px 10px rgb(180,180,180);
}
.m10_color{
	background-color: rgb(108,74,155);
}
.message_11{
	float: left;
	width: 200px;
	height: 200px;
	background-color: rgb(215,229,81);
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	box-shadow:10px 10px 10px rgb(180,180,180);
}
.m11_color{
	background-color: rgb(215,229,81);
}
.message_12{
	float: left;
	width: 200px;
	height: 200px;
	background-color: rgb(214,214,214);
	-webkit-transform: rotate(-18deg);
	-moz-transform: rotate(-18deg);
	-o-transform: rotate(-18deg);
	box-shadow:10px 10px 10px rgb(180,180,180);
}
.m12_color{
	background-color: rgb(214,214,214);
}
.message_13{
	float: left;
	width: 200px;
	height: 200px;
	background-color: rgb(220,154,9);
	-webkit-transform: rotate(16deg);
	-moz-transform: rotate(16deg);
	-o-transform: rotate(16deg);
	box-shadow:10px 10px 10px rgb(180,180,180);
}
.m13_color{
	background-color: rgb(220,154,9);
}
.message_14{
	float: left;
	width: 200px;
	height: 200px;
	background-color: rgb(162,217,90);
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	box-shadow:10px 10px 10px rgb(180,180,180);
}
.m13_color{
	background-color: rgb(162,217,90);
}
.message_15{
	float: left;
	width: 200px;
	height: 200px;
	background-color: rgb(155,189,198);
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	box-shadow:10px 10px 10px rgb(180,180,180);
}
.m15_color{
	background-color: rgb(155,189,198);
}
#footer{
	clear: both;
	width: 1000px;
	height: 150px;
}

#openMessageBox{
	float: right;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	width: 170px;
	height: 40px;
	background-color: rgb(46,144,209);
}

#sendMessageBox{
	display: none;
	z-index: 2;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -175px;
	width: 400px;
	height: 350px;
	margin-left: -200px;
	text-align: center;
}
#sendMessageBox_content{
	font-family: "微软雅黑";
	border: none;
	font-size: 30px;
	margin-top: 5px;
	width: 380px;
	height: 300px;
	/*box-shadow: 0px 0px 30px 10px black;*/
}
#sendMessageBox_close{
	cursor: pointer;
	width: 60px;
	height: 60px;
	float: right;
	position: relative;
	left: 50px;
}
#sendMessageBox_close img{
	width: 100%;
	height: 100%;
}
#sendMessageBox_ensure{
	margin-top: 10px;
	position: relative;
	border-radius: 5px;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	left: 10px;
	width: 100px;
	height: 45px;
	font-size: 25px;
	line-height: 45px;
	background-color: rgb(46,144,209);
}
#toTop{
	display: none;
	cursor: pointer;
	z-index: 2;
	position: fixed;
	bottom: 10%;
	right: 10%;
}