body{
	font-family: '微软雅黑';
	background-color: #E0E0E0;
	margin: 0 auto;
}

#wrap{
	width: 1000px;
	height:auto !important;
	min-height:1000; 
	background-color: #E0E0E0;
	margin: 0 auto;
}

#header{
	margin: 0 auto;
	width: 1000px;
	height: 100px;
}
#blogName{
	cursor: pointer;
	font-size: 40px;
	line-height: 100px;
	float: left;
}
#blogNameLine{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
	width: 1px;
	height: 50px;
	border-left:1px solid #999999;
	float: left;
}
#slogan{
	float: left;
	margin-top:50px;
}
#searchBox{
	margin-left: 360px;
	margin-top: 40px;
	float: left;
}
#searchBox input{
	padding: -10px;
	width: 250px;
	height: 30px;
	float: left;
	font-size: 18px;
}
#search-icon{
	border-radius: 100px;
	position: absolute;
	margin-top: -10px;
	margin-left: -40px;
	width: 50px;
	height: 50px;
	background-color: red;
	background: url(../images/search-icon.jpg);
	float: left;
}
#sSubmit{
	color: white;
	cursor: pointer;
	text-align: center;
	float: left;
	width: 60px;
	height: 36px;
	line-height: 36px;
	background-color: #566BE4;
}
#header_nav{
	width: 80%;
	opacity: 0.3;
}
#nav{
	margin: 0 auto;
	width: 1000px;
	height: 50px;
}
.nav_element{
	font-size: 20px;
	line-height: 50px;
	float: left;
	cursor: pointer;
	margin-left: 20px;
}
#content{
	margin: 0 auto;
	width: 1000px;
	height: auto;
	min-height: 660px;
}
.smallphoto{
	float: left;
	width: 180px;
	height: 130px;
	margin-left: 20px;
	margin-top: 30px;
}
#movephoto{
	background-color: #6C6C6C;
	width: 180px;
	height: 130px;
	position: fixed;
	text-align: center;
	box-shadow: 0px 0px 30px 10px black;
}
#movephoto img{
	width: 100%;
	height: 90%;
}
.smallphoto img{
	cursor: pointer;
	width: 100%;
	height: 100%;
}
#prev{
	cursor: pointer;
	position: absolute;
	width: 48px;
	height: 48px;
	top: 220px;
	left: 0px;
	background: url(../images/sysImg/prev.png);
}
#next{
	cursor: pointer;
	position: absolute;
	width: 48px;
	height: 48px;
	top: 220px;
	left: 650px;
	background: url(../images/sysImg/next.png)
}
#movephoto_time{
	position: absolute;
	width: 100px;
	font-size: 10px;
	color: white;
	opacity: 0.6;
	top: 480px;
	left: -10px;
}
#movephoto_introduction{
	position: absolute;
	left: 8px;
}
#close{
	cursor: pointer;
	position: absolute;
	width: 48px;
	height: 48px;
	bottom: 0px;
	right: 0px;
	z-index: 99;
	background: url(../images/sysImg/close.png);
	background-position: 0 -48px;

}
#page{
	margin: 0 auto;
	padding-left:70px; 
	width: 1000px;
}
#page_first,#page_pre,#page_next,#page_last{
	cursor: pointer;
	border-radius: 3px;
	float: left;
	width: 60px;
	height: 40px;
	background-color: white;
	margin-left: 10px;
	box-shadow: 5px 5px 5px #A5A5A5;
	text-align: center;
	line-height: 40px;
}
.page_element{
	cursor: pointer;
	border-radius: 3px;
	line-height: 40px;
	text-align: center;
	float: left;
	width: 50px;
	height: 40px;
	margin-left: 10px;
	background-color: white;
	box-shadow: 5px 5px 5px #A5A5A5;
}
