body{
	font-family: '微软雅黑';
	background-color: #E0E0E0;
	margin: 0 auto;
}
#toTop{
	display: none;
	cursor: pointer;
	position: fixed;
	bottom: 10%;
	right: 10%;
}
#wrap{
	width: 1000px;
	height:auto !important;
	min-height:1000; 
	background-color: #E0E0E0;
	margin: 0 auto;
}

#header{
	margin: 0 auto;
	width: 1000px;
	height: 100px;
}
#blogName{
	cursor: pointer;
	font-size: 40px;
	line-height: 100px;
	float: left;
}
#blogNameLine{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
	width: 1px;
	height: 50px;
	border-left:1px solid #999999;
	float: left;
}
#slogan{
	float: left;
	margin-top:50px;
}
#searchBox{
	margin-left: 360px;
	margin-top: 40px;
	float: left;
}
#searchBox input{
	padding: -10px;
	width: 250px;
	height: 30px;
	float: left;
	font-size: 18px;
}

#sSubmit{
	color: white;
	cursor: pointer;
	text-align: center;
	float: left;
	width: 60px;
	height: 36px;
	line-height: 36px;
	background-color: #566BE4;
}
#header_nav{
	width: 80%;
	opacity: 0.3;
}
#nav{
	margin: 0 auto;
	width: 1000px;
	height: 50px;
}
.nav_element{
	font-size: 20px;
	line-height: 50px;
	float: left;
	cursor: pointer;
	margin-left: 20px;
}
#content{
	margin: 0 auto;
	width: 1000px;
	height:auto !important;
	min-height:1000px; 
}

#page{
	margin-top: 30px;
}
#page_first,#page_pre,#page_next,#page_last{
	cursor: pointer;
	border-radius: 3px;
	float: left;
	width: 60px;
	height: 40px;
	background-color: white;
	margin-left: 10px;
	box-shadow: 5px 5px 5px #A5A5A5;
	text-align: center;
	line-height: 40px;
}
.page_element{
	cursor: pointer;
	border-radius: 3px;
	line-height: 40px;
	text-align: center;
	float: left;
	width: 50px;
	height: 40px;
	margin-left: 10px;
	background-color: white;
	box-shadow: 5px 5px 5px #A5A5A5;
}

#footer{
	clear: both;
	width: 1000px;
	height: 150px;
}
#content_left{
	border-radius: 5px;
	margin-top: 10px;
	width: 670px;
	/*height: 700px;*/
	height: auto;
	min-height: 300px;
	background-color: white;
	box-shadow: 5px 5px 5px #A5A5A5;
	padding: 20px;
}

#article_title{
	padding-bottom: 20px;
	font-size: 25px;
	text-align: center;
}
#article_time{
	font-size: 15px;
	text-align: center;
}
#article_content{
	word-wrap:break-word;
}
#article_content img{
	max-width: 100%;
}
#bottom_empty{
	width: 100%;
	height: 200px;
}
#commentBox{
	border-radius: 5px;
	margin-top: 10px;
	width: 670px;
	padding: 20px;
	height: auto;
	min-height: 300px;
	background-color: white;
	box-shadow: 5px 5px 5px #A5A5A5;
}

#commentBox_title{
	font-weight: 800;
	font-size: 20px;
	padding-bottom: 10px;
}
#commentBox_title_line{
	margin-left: -10px;
	width: 670px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px groove rgb(180,180,180);
	margin-bottom: 20px;
}
.commentList_ele_title{
	color: rgb(180,180,180);
}
.commentList_ele_content{
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.commentList_line{
	width: 690px;
	margin-left: -10px;
	border-top: 1px solid rgb(200,200,200);
}

#inputCommentBox{
	margin-top: 30px;
}
#inputArea{
	width: 500px;
	height: 300px;
}
.commentTime{
	margin-left: 5px;
}
#issueComment{
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	width: 100px;
	cursor: pointer;
	line-height: 40px;
	border-radius: 5px;
	margin-top: 10px;
	height: 40px;
	text-align: center;
	background-color: rgb(27,126,213);
}